.cardDivison{
  position: relative;
  top: 12vh;
  left: 2vw;
}
.formClass>div>label{
  color:#1890ff;
}
.ant-input[disabled] {
  color: #1890ff;
}
/* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
  
  .cardDivison{
    left: 10vh;
  }
}
.inputClass {
  width:100%;
}

.Carddetails > .ant-card-body{
  padding: 0% !important;
 }